{% extends "base.html" %}

{% block content %}

<div><h2 style="text-align:center;">🐘Blogz AKA The Posts With The Most🧠</h2></div>



{% if posts|length == 0 %}
<div><h2>No posts here yet 🤔</h2></div>
{% else %}
{% for post in posts | reverse %}
<div><hr /></div>
<div><h2><a href="/blog?id={{post.id}}">{{post.title}}</a>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 11px"><em>by {{post.owner.username}}</em></span></h2></div>
<div><p>{{post.body}}</p></div>
{% endfor %}

{% endif %}

{% endblock %}